<div *ngIf="professorSelecionado">
  <div class="row">
    <div class="me-auto">
      <app-titulo [titulo]="'Cód. Professor: ' + professorSelecionado.id"></app-titulo>
    </div>
    <div class="mt-1 mb-1">
      <button class="btn btn-warning" (click)="voltar()">Lista de Professores</button>
    </div>
  </div>

  <form [formGroup]="professorForm" (submit)="professorSubmit()">
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label"
        >Nome</label
      >
      <input
        type="text"
        class="form-control"
        formControlName="nome"

      />
    </div>

    <div class="form-group mt-2">
      <label for="exampleFormControlInput2" class="form-label"
        >Disciplina</label
      >
      <input
        type="text"
        class="form-control"
        formControlName="disciplina"
      />
    </div>

    <div class="form-group">
      <hr>
      <button class="btn btn-success" [disabled]="!professorForm.valid">Enviar</button>
    </div>

  </form>
</div>

<div *ngIf="!professorSelecionado">
  <app-titulo [titulo]="titulo"></app-titulo>

  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prof of professores" (click)="professorSelect(prof)" style="cursor: pointer">
        <th scope="row">{{ prof.id}}</th>
        <td>{{ prof.nome}}</td>
        <td>{{ prof.disciplina}}</td>
      </tr>
    </tbody>
  </table>
</div>


